<h1>All Posts</h1>

<% @posts.each do |post| %>
  <div class="border p-4 mb-4">
    <h2 class="text-xl font-bold"><%= post.title %></h2>
    <p>Community: <%= post.community.name if post.community %></p>
    
    <% if post.topic.present? %>
      <p class="text-gray-600"><strong>Topic:</strong> <%= post.topic.text %></p>
    <% end %>

    <!-- Link to the specific post show page -->
    <%= link_to "See more", post_path(post), class: "text-blue-500 underline" %>
  </div>
<% end %>
